@model RailRoad.DataPersistence.Entities.Site

@using (Html.BeginForm("CreateSite", "Sites"))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(s => s.Name, "Name")
            </td>
            <td>
                @Html.TextBoxFor(s => s.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(s => s.Distance, "Site Distance")
            </td>
            <td>
                @Html.TextBoxFor(s => s.Distance)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(s => s.DefaultTruckCapacity, "Truck Capacity")
            </td>
            <td>
                @Html.TextBoxFor(s => s.DefaultTruckCapacity)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(s => s.DefaultTripCharges.ExcavationCharge, "Excavation Charge")
            </td>
            <td>
                @Html.TextBoxFor(s => s.DefaultTripCharges.ExcavationCharge)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(s => s.DefaultTripCharges.LntBasicCharge, "LNT Base Charge")
            </td>
            <td>
                @Html.TextBoxFor(s => s.DefaultTripCharges.LntBasicCharge)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(s => s.DefaultTripCharges.LntLeadingCharge, "LNT Leading Charge")
            </td>
            <td>
                @Html.TextBoxFor(s => s.DefaultTripCharges.LntLeadingCharge)
            </td>
        </tr>        
        <tr>
            <td>
                <input type="submit" value="Add Site">
            </td>
        </tr>
    </table>
}